################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Uploader/.vs/Uploader
/Uploader/Uploader/obj
